@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">Soy Leo </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Bienvenido a mi nueva Pagina</a>.</p>
</div>
<<<<<<< HEAD
<div>Chau</div>
=======
<div>Leo 2</div>
>>>>>>> d1e4eff61ca220b4a1d0cd96d2cb163cb8c7ae80
